    #fecha {
        width: 50vw;
        position: relative;
        top: 5vh;
        left: 7vw;
        margin: 0;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 69px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .text-cronometro {
        text-align: center;
        font-size: 1vw;
        color: rgb(255, 255, 255);
        font-weight: medium;
        font-family: sans-serif;
    }
    
    .container-cronometro {
        display: inline-block;
        margin-left: 0vw;
        padding: 0vh 2vw;
    }
    /*------------------titulo--------------*/
    
    #titulo {
        position: relative;
        top: 2vh;
        left: 20vw;
        width: 40vw;
        margin-bottom: 0%;
        margin-top: 0vh;
        color: rgb(255, 255, 255);
        font-size: 37px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: left;
    }